SoundFile
pandas
torchaudio
tensorboard
munch
torch
torchvision
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
phonemizer
git+https://github.com/resemble-ai/monotonic_align.git